<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem Alunos</title>
</head>

<body>
    <main>
        <a href="{% url 'criar_aluno' %}"><button>Novo Cadastro</button></a>
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Idade</th>
                    <th>Email</th>
                    <th>Cidade</th>
                    <th>Curso</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for aluno in alunos %}
                <tr>
                    <td>{{ aluno.nome }}</td>
                    <td>{{ aluno.idade }}</td>
                    <td>{{ aluno.email }}</td>
                    <td>{{ aluno.cidade }}</td>
                    <td>{{ aluno.curso }}</td>
                    <td>
                        <a href="{% url 'editar_aluno' aluno.id %}"><button>Editar</button></a>
                        <a href="{% url 'excluir_aluno' aluno.id %}"><button>Excluir</button></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>

</html>